.default-image-style{
  width:  350px;
  height: 400px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  object-fit: cover;

  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 14, 26, 0.801);;
}