.default-image-style{
  width:  350px;
  height: 400px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  object-fit: cover;

  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 14, 26, 0.801);

}

.game-Box-Image-Style{
  display: inline-block;  
  width: 500px;
  height: 50%;
  object-fit: cover; 

  margin-top: 1%;

  border-width: 6px;

  padding-left: 25px;
  padding-top: 10px;
}