.search-Bar-Style-Default
{
   box-shadow: 3px 3px 0px rgb(0, 0, 0, 0.705);
   color: rgb(0, 0, 0);
   border: 4px solid rgb(0, 14, 26);
   border-radius: 5px;
   border-style: solid;
   
   padding-left: 15px;
   padding-right: 25px;
   padding-top: 5px;
   padding-bottom: 5px;

   position: relative;

   text-align: center;
   width: 20%;
}

.search-Bar-Style-MessageBox {
   position: relative;
   box-shadow: 3px 3px 0px rgb(0, 0, 0, 0.705);
   color: rgb(0, 0, 0);
   border: 4px solid rgb(0, 14, 26);
   border-radius: 5px;
   border-style: solid;
   
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 5px;
   padding-bottom: 5px;

   text-align: start;
   text-rendering: auto;

   padding-bottom: 100px;

   width: 50%;
   height: 100%;
}

.checkBox-Style-Default {
   box-shadow: 3px 3px 0px rgb(0, 0, 0, 0.705);
   color: rgb(0, 0, 0);
   border: 4px solid rgb(0, 14, 26);
   border-radius: 5px;
   border-style: solid;
   border-color: black;
   position: relative;
}